<html layout:decorate="~{layouts/main}">
<head>
<title>Quadriga 2.0</title>
</head>
<body>
	<div layout:fragment="content">
	<span th:text="${alert_msg}"></span>
		<h2>Add new App</h2>

		<form action="#" th:action="@{/admin/apps/add}" method="POST"
			th:object="${app}">
			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" /> 
				<label>App Name: </label> <input th:field="*{name}" class="form-control input-sm"></input>
				<label>Description:</label> <input th:field="*{description}" class="form-control input-sm"></input>

			<div style="padding-top: 20px;">
				<button class="btn primary-btn">Add App</button>
			</div>
		</form>

	</div>
</body>
</html>