<html layout:decorate="~{layouts/main}">
<head>
<title>Quadriga 2.0</title>
</head>
<body>
	<div layout:fragment="content">
	<span th:text="${alert_msg}"></span>
		<h2>Add new Collection</h2>

		<form action="#" th:action="@{/auth/collections/add}" method="POST"
			th:object="${collection}">
				<label>Collection Name: </label> <input th:field="*{name}" class="form-control input-sm"></input>
				<label>Description:</label> <input th:field="*{description}" class="form-control input-sm"></input>

			<div style="padding-top: 20px;">
				<button class="btn primary-btn">Add Collection</button>
			</div>
		</form>

	</div>
</body>
</html>