<html layout:decorate="~{layouts/main}">
<head>
<title>Quadriga 2.0</title>
<script th:inline="javascript">
// function saveApplicationDetails(personType){
// 	var modalNameLCase = modalName.toLowerCase();
// 	var personSpan;
// 	var personTypeLCase = personType.toLowerCase();
// 	if($("#id"+modalName).attr("data-"+modalNameLCase+"-id") != null && $("#id"+modalName).attr("data-"+modalNameLCase+"-id").length > 0) {
// 		personSpan = $('#'+$("#id"+modalName).attr("data-"+modalNameLCase+"-id"));
// 		personTypeLCase = personSpan.attr("data-creator-type").toLowerCase();
// 	} else {
// 		var id = personTypeLCase + $("."+personTypeLCase+"-item").length;
// 		personSpan = $('<span id='+id+'>');
// 	}
	
// 	personSpan.attr("class", "label label-warning "+personTypeLCase +"-item");
// 	personSpan.html("");
	
// 	var firstname = $("#firstName"+modalName).val();
// 	var lastname = $("#lastName"+modalName).val();
// 	var uri = $("#uri"+modalName).val();
// 	var localAuthority = $("#uri"+modalName+"LocalId").val();
// 	personSpan.attr("data-"+modalNameLCase+"-firstname", firstname);
// 	personSpan.attr("data-"+modalNameLCase+"-lastname", lastname);
// 	personSpan.attr("data-"+modalNameLCase+"-uri", uri);
// 	personSpan.attr("data-"+modalNameLCase+"-authority-id", localAuthority);
	
// 	var affiliationsList = [];
// 	var affSpan = $("<span>");
// 	$("#"+modalNameLCase+"Affiliations").children().each(function(idx, elem) {
// 		var input = $(elem).find("input");
// 		if(input.val().length!=0){
// 			var affSpan = $("<span>");
// 			affSpan.attr("data-affiliation-name", input.val());
// 			affiliationsList.push(input.val());
// 			personSpan.append(affSpan);
// 		}
// 	});
	
// 	var affiliationString = "";
// 	if (affiliationsList.length != 0) {
// 		affiliationString = " (" + $.grep(affiliationsList, Boolean).join(", ") + ")";
// 	}
	
// 	personSpan.append(lastname + ', ' + firstname + affiliationString + '&nbsp;&nbsp; ');
// 	var editIcon = $('<i class="icon-edit edit-'+modalNameLCase+'" style="color: white; font-size: 12px;"></i>')
// 	var deleteIcon = $('<i class="icon-circle-close remove-'+modalNameLCase+'" style="color: white; font-size: 12px;"></i>');
// 	editIcon.click(function(){
// 		var personItem = $(this).parent();
// 		editPerson(modalName, personItem[0]);
// 	});
// 	deleteIcon.click(removePerson);
// 	personSpan.append(editIcon);
// 	personSpan.append(deleteIcon);
// 	$("#"+personTypeLCase+"List").append(personSpan);
// 	$("#"+personTypeLCase+"List").append("&nbsp;&nbsp; ");
// 	$("#"+modalNameLCase+"Modal").modal('hide');
// 	resetPersonCreationModal(modalName);
// }
</script>
</head>
<body>
	<div layout:fragment="content">
	<span th:text="${alert_msg}"></span>
		<h2>Add new Collection</h2>

		<form action="#" th:action="@{/auth/collections/add}" method="POST"
			th:object="${collectionForm}">
				<label>Collection Name: </label> <input th:field="*{name}" class="form-control input-sm"></input>
				<span th:if="${#fields.hasErrors('name')}" class = "error">Please enter a valid Collection name.</span>
				<br>
				<label>Description:</label> <input th:field="*{description}" class="form-control input-sm"></input></br>
				<label id="applications">Applications:</label>
				<span id="applicationList" style="font-size: 18px"></span>
				<div class="pull-right"><a data-toggle="modal" data-target="#applicationModal"><i class="icon-circle-add"></i> Add Application</a></div>
                
                <div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="applicationLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Citesphere Applications</h4>
                      </div>
                      <div class="modal-body">
                          <table class="table table-striped table-bordered">
                              <tr>
                                  <th></th>
                                  <th>Name</th>
                                  <th>Description</th>
                              </tr>
                              <tr class="apps" th:each="entry,loop : ${citesphereApps}">
                                  <span th:data-client-id="${entry.clientId}" th:data-name="${entry.name}" th:data-description="${entry.description}" th:data-applicationTypes="${entry.applicationTypes}"></span>
                                  <td><input title="Select" type="checkbox" id="checkbox" class="checkboxes"/>&nbsp;</td>
                                  <td>[[${entry.name}]]</td>
                                  <td>[[${entry.description}]]</td>
                              </tr>
                          </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="addApplicationButton" type="button" class="btn btn-primary">Add Applications</button>
                      </div>
                    </div>
                  </div>
                </div>
			<div style="padding-top: 20px;">
				<button class="btn primary-btn">Add Collection</button>
			</div>
		</form>

	</div>
    
</body>
</html>