<html layout:decorate="~{layouts/main}">
<head>
<title>Quadriga 2.0</title>
<style> 
.textOfSub {
    width:95%
}
#applicationList {
    max-height:250px;
}
.list-group {
    overflow: auto;
}
</style>
<script th:inline="javascript">
    $(function() {
        $("#addCollectionButton").click(function() {
            var index = 0;
            $(".app").each(function() {
                if($(this).find('.checkbox').is(':checked')) {
                    var appClientId = $("<input>");
                    appClientId.attr("type", "hidden");
                    appClientId.attr("name", "apps[" + index + "]");
                    appClientId.attr("value", $(this).attr("data-client-id"));
                    $("#applications").append(appClientId);
                    index++;
                }
            });
        });
        
        $(".list-group-item").click(function() {
        	var checkbox = $(this).find(".checkbox");
        	checkbox.prop("checked", !checkbox.prop("checked"))
        });
    });
</script>
</head>
<body>
	<div layout:fragment="content">
	<span th:text="${alert_msg}"></span>
		<h2>Add new Collection</h2>

		<form action="#" th:action="@{/auth/collections/add}" method="POST"
			th:object="${collectionForm}">
			<label>Collection Name: </label>
			<input th:field="*{name}" class="form-control input-sm"></input>
			<span th:if="${#fields.hasErrors('name')}" class = "error" th:errors=*{name}></span>
			<br>
			<label>Description:</label>
			<input th:field="*{description}" class="form-control input-sm"></input>
			<br>
			<label>Applications:</label> <div id="applications" type="hidden"></div>
			<div id="applicationList" class="list-group">
			    <div th:each="entry,loop : ${citesphereApps}">
			        <div href="#" class="list-group-item app" th:data-client-id="${entry.clientId}">
			            <strong>[[${entry.name}]]</strong><input title="Select" type="checkbox" class="checkbox pull-right"/><br>
			            <small class=textOfSub>[[${entry.description}]]</small>
			        </div>
			    </div>
			</div>
			<div style="padding-top: 20px;">
				<button id="addCollectionButton" class="btn primary-btn">Add Collection</button>
			</div>
		</form>
    </div>
</body>
</html>