<html layout:decorate="~{layouts/main}">
<head>
<title>Quadriga 2.0</title>
<style> 

.textAndCheckMark {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.textOfSub {
    width:95%
}
.CodeMirror-scroll {
    max-height: 300px;
}
#applicationList {
    max-height:250px;
}
.list-group {
    overflow: auto;
}
</style>
<script th:inline="javascript">

</script>
</head>
<body>
	<div layout:fragment="content">
	<span th:text="${alert_msg}"></span>
		<h2>Add new Collection</h2>

		<form id="collectionForm" action="#" th:action="@{/auth/collections/add}" method="POST"
			th:object="${collectionForm}">
				<label>Collection Name: </label> <input th:field="*{name}" class="form-control input-sm"></input>
				<span th:if="${#fields.hasErrors('name')}" class = "error">Please enter a valid Collection name.</span>
				<br>
				<label>Description:</label> <input th:field="*{description}" class="form-control input-sm"></input></br>
				<label>Applications:</label> <input id="applications" type="hidden" th:field=*{apps}></input>
				<div id="applicationList" class="list-group">
                    <div th:each="entry,loop : ${citesphereApps}">
                        <a href="#" class="list-group-item">
                            <strong>[[${entry.name}]]</strong><input title="Select" type="checkbox" class="checkbox pull-right"/><br>
                            <small class=textOfSub>[[${entry.description}]]</small>
                        </a>
                    </div>
                </div>
                
                
			<div style="padding-top: 20px;">
				<button class="btn primary-btn">Add Collection</button>
			</div>
		</form>

	</div>
    
</body>
</html>