<html layout:decorate="~{layouts/main}">
<head>
<title>Quadriga 2.0</title>
</head>
<body>
	<div layout:fragment="content">
		<a th:href="@{/auth/collections}" class="btn btn-primary btn-sm">
			<i class="fas fa-arrow-left" aria-hidden="true"></i>
			<span>Back to all collections</span>
		</a>
		<h2><span th:text="${collection.name}"></span></h2>
		<h4>Description: <span th:text="${collection.description}"></span></h4>
		<div style="margin-top: 20px">
				
	   		<p th:if="${collection.creationTime != null}" >Collection creation time: <span class = "date"  th:text="${#temporals.format(collection.creationTime, 'MM/dd/yyyy hh:mm a ')}"></span></p> 
 		
			<h4 th:if="${numberOfSubmittedNetworks eq 0}">No networks submitted to this collection yet!</h4>
			
			<p th:if="${numberOfSubmittedNetworks gt 0}">Number of submitted networks: <span th:text="${numberOfSubmittedNetworks}"></span></p>
			<p th:if="${numberOfSubmittedNetworks gt 0 and latestNetwork.creationTime !=null}">
				Last network submitted time: <span class = "date" th:if="${latestNetwork.creationTime} != null" th:text="${#temporals.format(latestNetwork.creationTime, 'MM/dd/yyyy hh:mm a')}"></span>
			</p>
			<p th:if="${numberOfSubmittedNetworks gt 0 and latestNetwork.submittingApp!=null}">
				Last network submitted by: <span th:text="${latestNetwork.submittingApp}"></span>
			</p>
		</div>

		<h3 style="margin-top: 20px">Mappings</h3>
		
		<table class="table table-responsive table-striped table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Mappings</th>
					<th scope="col">Triples</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><b>1</b></td>
					<td><b>Default Mappings</b></td>
					<td><b><span th:text="${defaultMappings}"></span></b></td>
				</tr>
				<!-- Once the functionality to add other mappings is added, all external mappings should be listed here -->
			</tbody>
		</table>
		
		<h3 style="margin-top: 25px">Networks</h3><a th:href="@{/auth/collections/{collectionid}/explore/(collectionid=${collection.id})}">Explore</a>
		
		<table th:if="${numberOfSubmittedNetworks gt 0}" id="dtBasicExample" class="table table-responsive table-striped table-sm">
		  <thead>
		    <tr>
		    	<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Date and Time</th>
				<th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="network, stat: ${networks}">
		    	<th scope="row" th:text="${stat.count + pageNumber * size}"></th>
		    	<td>
		    		<span>
						Graph for text submitted by <span  th:text="${network.context.creator}"></span>
						from <span th:text="${network.submittingApp}"></span>
					</span>
				</td>
				<td><span th:text="${#temporals.format(network.creationTime, 'MM/dd/yyyy hh:mm a')}"></span></td>
				<td>
					<a th:href="@{/auth/collections/{collectionid}/network/(collectionid=${collection.id}, sourceUri=${network.context.sourceUri})}">
						Visualize
					</a>
                    
				</td>
			</tr>
		  </tbody>
		 </table>
		
		<nav aria-label="Pagination" th:if="${totalPages gt 0}">
			<ul class="pagination justify-content-center font-weight-bold">
				<li class="page-item" th:classappend="${pageNumber eq 0} ? 'disabled'">
					<a class="page-link"
						th:href="@{/auth/collections/{collectionId}?page={id}&size={size}
						(id=${pageNumber lt 2 ? 1 : pageNumber}, collectionId=${collection.id}, size=${size})}"
						aria-label="Previous" title="Previous Page" data-toggle="tooltip"
						th:onclick="${pageNumber eq 0} ? 'return false;'">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li class="page-item" th:classappend="${i eq pageNumber + 1} ? 'active'" th:each="i : ${#numbers.sequence(1, totalPages, 1)}">
					<a class="page-link"
						th:href="@{/auth/collections/{collectionId}?page={id}&size={size}
						(id=${i}, collectionId=${collection.id}, size=${size})}" th:text="${i}"
						th:title="${'Page '+ i}" data-toggle="tooltip">
					</a>
				</li>
				<li class="page-item" th:classappend="${pageNumber + 1 eq totalPages} ? 'disabled'">
					<a class="page-link"
						th:href="@{/auth/collections/{collectionId}?page={id}&size={size}
						(id=${pageNumber + 2}, collectionId=${collection.id}, size=${size})}"
						aria-label="Next" title="Next Page" data-toggle="tooltip"
						th:onclick="${pageNumber + 1 eq totalPages} ? 'return false;'">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</body>
