<html layout:decorate="~{layouts/main}">
<head>
<title>Quadriga 2.0</title>
<link rel="stylesheet" href="style.css">
	<style>
		#cy {
	  height: 60%;
	  width: 60%;
	  position: absolute;
	  left: 50;
	  top: 100;
	  border: 1px solid;
}
	</style>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.1/cytoscape.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
		$(function() {
			var cy = cytoscape({
				container: document.getElementById('cy'),
				elements: {
					nodes: [
				        { data: { id: /*[[${id1}]]*/ 'none', group: 1 } },
				        { data: { id: 'B', group: 1 } },
				        { data: { id: 'C', group: 0 } },
				        /* { data: { id: 'D', group: 1 } },
				        { data: { id: 'E', group: 0 } },
				        { data: { id: 'F', group: 0 } },
				        { data: { id: 'G', group: 1 } },
				        { data: { id: 'H', group: 1 } },
				        { data: { id: 'J', group: 1 } },
				        { data: { id: 'K', group: 0 } },
				        { data: { id: 'L', group: 1 } },
				        { data: { id: 'M', group: 0 } } */
				      
				    ],
				  edges: [
  				      { data: { id: 'e1', source: /*[[${id1}]]*/ 'none', target: 'B' } },
  				      { data: { id: 'e2', source: /*[[${id1}]]*/ 'none', target: 'C' } },
  				      /* { data: { id: 'e3', source: 'B', target: 'D' } },
  				      { data: { id: 'e4', source: 'C', target: 'D' } },
  				      { data: { id: 'e5', source: 'C', target: 'E' } },
  				      { data: { id: 'e6', source: 'C', target: 'F' } },
  				      { data: { id: 'e7', source: 'D', target: 'G' } },
  				      { data: { id: 'e8', source: 'D', target: 'H' } },
  				      { data: { id: 'e9', source: 'E', target: 'H' } },
  				      { data: { id: 'e10', source: 'E', target: 'J' } },
  				      { data: { id: 'e11', source: 'F', target: 'J' } },
  				      { data: { id: 'e12', source: 'F', target: 'K' } },
  				      { data: { id: 'e13', source: 'G', target: 'L' } },
  				      { data: { id: 'e14', source: 'H', target: 'L' } },
  				      { data: { id: 'e15', source: 'H', target: 'M' } },
  				      { data: { id: 'e16', source: 'J', target: 'M' } } */
				    ]
				},
				layout: {
				    name: 'cose',
				    idealEdgeLength: 5,
				},
				style: [
					{
						selector: 'node',
						css: {
							'background-color': 'mapData(group, 0, 1, #E1CE7A, #FDD692)',
			                 'border-color' : '#B98F88',
			                 'border-width' : 1,
			                 'font-size': '12px',
			                 'font-weight' : 'bold',
			                 'color': 'mapData(group, 0, 1, #666, #333)',
			                 'label': 'data(id)',
			                 'width':'mapData(group, 0, 1, 40, 55)',
			                 "height":"mapData(group, 0, 1, 40, 55)",
			                 'text-valign' : 'center',
						}
						
					},
					{
			            selector: 'edge',
			            css: {
			               	'width': 1,
			                'line-color': '#754F44',
			                'target-arrow-shape': 'none'
			            }
			        }
				]
			});
		});
	/*]]>*/
	</script>
</head>
<body>
	<div layout:fragment="content">
		<h1>Network page</h1>
		<span th:text="${networkId}"></span>
		<div id="cy"></div>
	</div>
</body>
</html>