<html layout:decorate="~{layouts/main}">
<head>
<title>Quadriga 2.0</title>
<style>
.cy-container {
    display: flex;
    flex-wrap: wrap;
}

.cy {
    height: 500px;
    flex: 3.5
}

.cy-accordion {
    margin-left: 10px;
    flex: 1.5
}
</style>
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.1/cytoscape.min.js"></script>
<script type="text/javascript" th:inline="javascript">
	function updateGraph(cy, nodes, edges) {
		let existingNodes = new Map();
		cy.nodes().forEach(function(node) {
			if (node.data('uri') && node.data('group') != 0) {
				existingNodes.set(node.data('uri'), node.data('id'));
			}
		});
		let filteredNodes = [];
		let mapping = new Map();
		nodes.forEach(function(node) {
			console.log(node);
			if (node.group == 0 || !node.uri || !existingNodes.has(node.uri)) {
				filteredNodes.push(node);
			} else if (node.uri && existingNodes.has(node.uri)) {
				mapping.set(node.id, existingNodes.get(node.uri));
			}
		});
		console.log(filteredNodes);
		
		edges.forEach(function(edge) {
			if (mapping.has(edge.source)) {
				edge.source = mapping.get(edge.source);
			}
			
			if (mapping.has(edge.target)) {
				edge.target = mapping.get(edge.target);
			}
		});
		console.log(edges);
		
		cy.add([
		  { group: 'nodes', data: filteredNodes },
		  { group: 'edges', data: edges }
		]);
	}
	
    $(function() {
        var cy = cytoscape({
            container : document.getElementById('cy'),
            elements : [[${elements}]],
            layout : {
                name : 'cose',
                idealEdgeLength : 5,
            },
            style : [
                    {
                        selector : 'node',
                        css : {
                            'background-color' : 'mapData(group, 0, 1, #E1CE7A, #FDD692)',
                            'border-color' : '#B98F88',
                            'border-width' : 1,
                            'font-family' : 'Raleway, sans-serif',
                            'font-size' : '12px',
                            'font-weight' : 'bold',
                            'color' : 'mapData(group, 0, 1, #666, #333)',
                            'label' : 'data(label)',
                            'width' : 'mapData(group, 0, 1, 40, 55)',
                            'height' : "mapData(group, 0, 1, 40, 55)",
                            'text-valign' : 'center'
                        }

                    }, {
                        selector : 'edge',
                        css : {
                            'width' : 1,
                            'line-color' : '#754F44',
                            'target-arrow-shape' : 'none'
                        }
                    } ]
        });
        
        cy.on('tap', 'node', function(event) {
        	var currentNode = event.target;
            const queryUri = currentNode.data('uri');
            $.ajax({
    			'url': [[@{/auth/collections/}]] + '[(${collection})]/graph?uri=' + queryUri,
    			'type': "GET",
    			'success': function(data) {
    				updateGraph(cy, data.nodes, data.edges);
    			},
    			'error': function(data) {
    				
    			}
    		});
        });
        
    });
</script>
</head>
<body>
    <div layout:fragment="content">
        <h1>Collection page</h1>
        <div class="cy-container">
            <div id="cy" class="cy"></div>
        </div>
</body>
</html>