<html layout:decorate="~{layouts/main}">
<head>
<title>Quadriga 2.0</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>My Collections</h2>
		<div th:if="${collections.empty}">No Collections available</div>
		<div action="#" th:action="@{/auth/collections}" method="GET">
			<ul class="list-group">
				<li th:each="collection: ${collections}"
					class="list-group-item clearfix">
					<a th:href="@{/auth/collections/{id}(id=${collection.id})}" style="cursor:pointer;color:black">
						<span th:text="${collection.name}"></span>
					</a>
				</li>
			</ul>
		</div>
		<nav aria-label="Pagination" th:if="${collections.totalPages gt 0}">
			<ul class="pagination justify-content-center font-weight-bold">
				<li class="page-item"
					th:classappend="${collections.number eq 0} ? 'disabled'"><a
					class="page-link"
					th:href="@{/auth/collections?page={id}(id=${collections.number lt 2 ? 1 : collections.number})}"
					aria-label="Previous" title="Previous Page" data-toggle="tooltip">
						<span aria-hidden="true">&laquo;</span>
				</a></li>
				<li class="page-item"
					th:classappend="${i eq collections.number + 1} ? 'active'"
					th:each="i : ${#numbers.sequence( 1, collections.totalPages, 1)}">
					<a class="page-link"
					th:href="@{/auth/collections?page={id}(id=${i})}" th:text="${i}"
					th:title="${'Page '+ i}" data-toggle="tooltip"></a>
				</li>
				<li class="page-item"
					th:classappend="${collections.number + 1 eq collections.totalPages} ? 'disabled'">
					<a class="page-link"
					th:href="@{/auth/collections?page={id}(id=${collections.number + 2})}"
					aria-label="Next" title="Next Page" data-toggle="tooltip"> <span
						aria-hidden="true">&raquo;</span>
				</a>
				</li>
			</ul>
		</nav>
	</div>

</body>
</html>