<html layout:decorate="~{layouts/main}">
<head>
<title>Quadriga 2.0</title>
</head>
<body>
	<div layout:fragment="content" class="login-form">
	<h2 style="text-align:left">Password Reset</h2>
		<div class="row">
			<div sec:authorize="isAnonymous()">
				<form name='f' class="form-horizontal" th:action="@{/reset/request}" method="POST">
				
				<p style="text-align: left">Please enter the email address you used to register:</p>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<div class="form-group">
					<div class="col-sm-12">
						<input placeholder="Email Address" class="form-control input-sm searchbox"
							type="text" id="email" name="email" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary bg-dark-blue">Submit</button>
					</div>
				</div>
				</form>
			</div>
			<div sec:authorize="isAuthenticated()">It looks like
				you're logged in. Please logout to reset your password.</div>
		</div>
	</div>
</body>
</html>